<header class="closeBtn-Container"><img src="/Cancel.svg" class="close-btn"></header>
<h1>თანამშრომლის დამატება</h1>
<section class="form">
  <section class="input-container">
    <div class="input-box1">
        <h3>სახელი</h3>
        <input>
        <p>მინიმუმ 2 სიმბოლო</p>
    </div>
    <div class="input-box2">
        <h3>გვარი</h3>
        <input>
        <p>მინიმუმ 2 სიმბოლო</p>
    </div>
  </section>

  <section class="avatar-cotnainer">
    <h3>ავატარი</h3>
    <div class="upload-avatar" (click)="triggerFileInput()">
        <img [src]="avatarPreview || '/Frame 252.svg'" id="avatarPreview">
    </div>
  </section>
  <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" hidden>

  <section class="department-container">
    <h3>დეპარტამენტი</h3>
    <input class="department-selector-input">
    <img src="/ArrowDownBlack.svg" class="arrowDown">
  </section>
</section>
<footer>
    <button class="cancel-btn">გაუქმება</button>
    <button class="add-employee-btn">დაამატე თანამშრომელი</button>
</footer>
