<header class="closeBtn-Container"><img src="/Cancel.svg" class="close-btn" (click)="createEmployeeService.CreateEmployeeComponent.set(false)"></header>
<h1>თანამშრომლის დამატება</h1>
<section class="form">
  <section class="input-container">
    <div class="input-box1">
        <h3>სახელი</h3>
        <input [(ngModel)]="firstname">
        <p>მინიმუმ 2 სიმბოლო</p>
    </div>
    <div class="input-box2">
        <h3>გვარი</h3>
        <input [(ngModel)]="lastname">
        <p>მინიმუმ 2 სიმბოლო</p>
    </div>
  </section>

  <section class="avatar-cotnainer">
    <h3>ავატარი</h3>
    <div class="upload-avatar" (click)="triggerFileInput()">
        <img [src]="avatarPreview || '/Frame 252.svg'" id="avatarPreview">
    </div>
  </section>
  <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" hidden>

  <section  class="department-container" (click)="department = !department">
    <h3>დეპარტამენტი</h3>
    <input *ngIf="!department" class="department-selector-input" [(ngModel)]="selectedDepartmentName">
    <img [ngClass]="department ? 'arrowDownDepartment' : ''" src="/ArrowDownBlack.svg" class="arrowDown">
    <section *ngIf="department" class="department-list">
      <p *ngFor="let department of departmentList" (click)="selectDepartment(department)">
        {{ department.name }}
      </p>
    </section>
  </section>

  
</section>
<footer>
    <button class="cancel-btn">გაუქმება</button>
    <button class="add-employee-btn" (click)="createEmployee(firstname,lastname,avatarFile,selectedDepartment)">დაამატე თანამშრომელი</button>
</footer>
